#clockContainer {
	position: relative;
	margin: auto;
	height: 40vw;
	/*to make the height and width responsive*/
	width: 40vw;
	background: url("./clockface.png") no-repeat;
	/*setting our background image*/
	background-size: 100%;
}

#hour,
#minute,
#second {
	position: absolute;
	background: rgb(6, 240, 45);
	border-radius: 10px;
	transform-origin: bottom;
}

#hour {
	width: 2.8%;
	height: 25%;
	top: 25%;
	left: 48.85%;
	opacity: 0.8;
}



h1 {
color:rgb(20, 20, 20);
background-color:orange;
font-style:italic;
font-size:60px;
max-width: fit-content;
background-color: center;
padding:5px;
background-position: 10px;
margin-top: 10px;
margin-block: 50px;
text-align: right;

}


#minute {
	width: 2.6%;
	height: 30%;
	top: 19%;
	left: 48.9%;
	opacity: 0.8;
}

#second {
	width: 2%;
	height: 40%;
	top: 9%;
	left: 49.25%;
	opacity: 0.8;
}

html, body {
	height: 100%;
}

body {
	/* The image used */
	background-image: url("https://th.bing.com/th/id/OIP.w4YRh0cagq7NxGCbWDz9VgHaEK?pid=ImgDet&rs=1");
  
	/* Full height */
	height: 100%;
  
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }